* {
  outline: none;
}

html {
    scroll-behavior: smooth;
}

/* Nav bar underline */
.w3-bar-item {
  color: rgb(255, 255, 255);
}

.w3-bar-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.w3-bar-item:hover::after {
  width: 100%;
  transition: width .6s;
  text-decoration: none;
  border: none;
}

a:hover {
  text-decoration: none;
}


/* Header section */
@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body {
	background-color: #000;
}
a,#word {
	color: #fff;
	/* font-family: Roboto; */
	text-decoration: none;
}
p>#word {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.header-sub-title {
  color: #fff;
  font-family: "Courier";
  font-size: 20px;
}

.typingSpace {
  width: 70%;
  margin-left: 30%;
  margin-right: auto;
}

#home {
  background-image: linear-gradient(#29323c,#485563);
  max-height: 1000px;
  height: 760px;
  
}


#name {
  font-family: 'Fredericka the Great', cursive;
	padding-bottom: 60px;
}

/* My profile images */
.profilePicSection{
  margin-left: -10%;
}

.profileContainer{
  max-width: 60%;
}

.img-profile {
  max-width: 180%;
  max-height: 200%;
  margin-top: 5%;
  transform: rotate(90deg);
  box-shadow: 5px 5px 5px rgb(37, 37, 37);
}


.profile-img-div {
  padding-top: 10px;
}

/* arrow animation */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* About Section */

#about{
  padding-top: 30px;
}

#resume {
  padding-top: 30px;
}

#aboutPara {
  font-size: 150%;
}

/* Education and Experience */
#maths, #ava, #cput, #uwc, #stellenbosch, #livingstone, #lifeChoices {
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.2);
  margin-bottom: 2%;
}

/* Interests */
.interestPics {
  max-width: 100%;
  height: auto;
}

.interests {
  /* background-color: rgba(255, 255, 255, 0.404); */
  margin: 1%;
  padding: 0.5%;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

#languages {
  text-align: center;
}

/* Rotating images */
.rotate:hover {
  animation: rotation 2s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Shaking images*/
.shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.rotate, .shake {
  max-width: 10%;
  height: auto;
  padding: 0.4%;
}

/* Projects Section */

#myProjects {
  padding-top: 30px;
}

.projects {
  text-align: center;
}

.hiddenPara {
  text-align: center;
  padding: 10px;
  width: 300px;
  height: 170px;
  background-color: rgb(31, 31, 31, 0.9);
  color: white;
  display: none;
  position: absolute;
  z-index: 99;

  
}
.project-link {
  color: #000;
}

.img-descrip:hover .hiddenPara{
  display: inline-block;
}

.btn-primary {
  font-size: 20px;
  background-color: #485563;
  border: 1px solid black;
  
}

.btn-primary:hover {
  background-color: white;
  color: black;

}

.btn-primary2 {
  font-size: 20px;
  background-color: white;
  color: black;
  border: 1px solid rgb(185, 21, 21);
  border-radius: 50px;
  
}
button:focus {
  outline: none;
}

.btn-primary2:hover {
  background-color: #485563;
  color: white;

}

.projects {
  padding-bottom: 10px;
}

/* Modal sections */
.modal-title, .modal-body {
  color: #000;
}

.w3-input {
  display: flexbox;
}